.footer{
    background-color: #545759;
    height: 80px;
    width: auto;
}

.footer img{
    margin: 20px;
    margin-left: 10px;
}

.footer p{
    float: right;
    margin: 30px;
    color: white;
}