*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C9C9C9;
    min-width: 695px;
}


#label{
    grid-area: label;
    margin: 10px;
}

#information{
    background-color: #F2F2F2;
    margin-left: 10px;
    grid-area: information;
}

#change-password{
    background-color: #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
    grid-area: change-password;
}

#content{
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: auto;
    grid-template-areas:
        "label none" 
        "information change-password";
}



