@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: "Source Sans Regular";
    src: url("../assets/fonts/SourceSansPro-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Source Sans Pro";
    background-color: #C9C9C9;
    min-width: 695px;
}


#label{
    grid-area: label;
    margin: 10px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

form, #picture, p{
    font-family: "Source Sans Regular";
    font-size: 18px;
}

#information{
    background-color: #F2F2F2;
    margin-left: 10px;
    grid-area: information;
}

#change-password{
    background-color: #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
    grid-area: change-password;
}

#content{
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: auto;
    grid-template-areas:
        "label none" 
        "information change-password";
}



